@using YeniKitapKirtasiyeWebApp.Models
@model IEnumerable<CartItem>
@{
    ViewBag.Title = "Sepet";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="sepettasiyici">
    <div class="baslik">Sepetiniz</div>

    @if (Model.Count() != 0)
    {
        <div class="sepet">
            <table class="sepettablo" cellpadding="0" cellspacing="0">
                @foreach (CartItem item in Model)
                {
                    <tr class="eleman">
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Price ₺</td>
                        <td>
                            <a href="@Url.Action("Azalt","Urun", new {id=item.ID})" class="arttir ">-</a>
                            <span class="adet fixspace"> @item.Quantity</span>
                            <a href="@Url.Action("Arttir","Urun", new {id=item.ID})" class="azalt fixspace">+</a>
                        </td>
                    </tr>
                }
            </table>
            <img src="~/Assets/SiteImages/guvenlik.png" />
        </div>
        <div class="sepettoplam">
            <div class="sepettoplamBaslik">
                Toplam Bakiye
            </div>
            <div class="icerik">
                <div class="satir">
                    <b>Ara Toplam = </b> @Model.Sum(x => (x.Price * x.Quantity)) ₺
                </div>
                <div class="satir">
                    <b>KDV = </b> @Model.Sum(x => (x.Price * x.Quantity)) ₺
                </div>
                <div class="satir">
                    <b>Genel Toplam = </b> @Model.Sum(x => (x.Price * x.Quantity)) ₺
                </div>
            </div>

            <div class="odemeEkrani">
                <a href="@Url.Action("Ode","Urun")">Ödeme Ekranına Geç</a>
            </div>
        </div>
    }
    else
    {
        <p>Sepetiniz Boş</p>
    }


</div>
