@model YeniKitapKirtasiyeWebApp.Models.Category

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2>Kategori Ekle</h2>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @*@Html.AntiForgeryToken()*@
            @*@Html.ValidationSummary()*@
            if (TempData["basarili"] != null)
            {
                <div class="basarili">
                    @TempData["basarili"]
                </div>
            }
            if (TempData["basarisiz"] != null)
            {
                <div class="basarisiz">
                    @TempData["basarisiz"]
                </div>
            }
            <div class="row">
                <label class="control-label">Kategori Adı</label>
                @*@Html.TextBoxFor(model => model.Name, htmlAttributes: new {@class = "form-control"})*@
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validationMessage" })
            </div>
            <div class="row">
                @Html.EditorFor(model => model.IsActive)
                <label for="IsActive">Aktif Kategori</label>
            </div>
            <div class="row">
                <input type="submit" class="formbutton" value="Kategori Ekle" />
            </div>
        }
    </div>
</div>

